:root {
  --color-bg-primary: #0e0b08;
  --color-bg-secondary: #2a1e12;

  --color-gold: #c9a96e;
  --color-gold-light: #f0d49a;

  --color-text-primary: #f5f0e8;
  --color-text-secondary: #8a7a68;

  --container-width: 1400px;
}